h2{
    text-align: center;
}
.row, .col, .col-6, .col-4{
    height: 45px;
    background-color: #712cf926;
    border: 1px solid #712cf94d;
}
.h_400{
    min-height: 400px;
}
.box{
    height: 30px;
    color: white;
    background-color: purple;
}
.row{
    margin-top: 10px;
    min-height: 120px;
}